@button-color: #48dcfd;
@button-shadow: rgba(104, 223, 250, 0.31);

.container{
    background: #ffffff;
    border-radius: 40px;
    width: 540px;
    padding: 40px;

    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.16), 
                0 8px 8px rgba(0,0,0,0.20);

    .star {
        @size: 400px;
        height:@size; 
        height: @size;

        display: block;
        margin-left: 15%;
    }


    .row{
        margin-right: 0;
        margin-left: 0;
    }

    .bar-container{
        position: relative;
    }

    .arrow-left{
        @size: 40px;
        @padding: 5px;
        @stroke: red;
        @fill: orange;

        position: absolute;
        top: 10px;

        content: ' ';
        fill: none;
        display: block;
        background-image: url(src\assets\svg\arrow-left.svg);
        background-repeat: no-repeat;
        background-size: @size @size;
        // padding: @padding;
        height: @size;
        width: @size;

        &:hover{
            fill: red;
            color: red;
        }
    }

    .next-step-button {
        background: @button-color;
        // box-shadow: 0 12px 23px @button-shadow;

        font-weight: 800;
        font-family: 'gilroybold';
        font-size: 22px !important;
        letter-spacing: 3px;

        outline: none;
        display: block;
        width: 70%;
        height: 60px;
        margin: 0 auto;

        border-radius: 10px;
        font-weight: 800;
        border: 0;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
        text-align: center;

        cursor: pointer;

        :active{
            background: @button-shadow;
        }

    }
}

.shake {
    animation-name: shake-animation;
    animation-duration: 0.2s;
  }
    
@keyframes shake-animation {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(3px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-5px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(5px, 0, 0);
    }
}