<div class="container">
    
    <div *ngIf="!quizPool">
        <h2 class="text-center nocopy mt-5 mb-5">Completed!</h2>
        <img src="assets/img/check-done.png" class="star">
    </div>
    <div *ngIf="quizPool && currentQuiz" class="row flex-column">

        <div class="bar-container">
            <app-progress-bar 
                [comleted]="completed"
                [length]="quizPool.length - 1">
            </app-progress-bar>
            <div 
                *ngIf="completed > 0"
                class="arrow-left"
                (click)="previousButtonClick()">
            </div>
        </div>

        <app-question-text 
            class="quiz-text"
            [quiz]="currentQuiz"
            *ngIf="currentQuiz.type == 'TEXT'">
        </app-question-text>
    
        <app-quiestion-number 
            class="quiz-number"
            [quiz]="currentQuiz"
            *ngIf="currentQuiz.type == 'NUMBER'">
        </app-quiestion-number>
    
        <app-email-form
            class="quiz-number"
            [form]="currentQuiz"
            *ngIf="currentQuiz.type == 'EMAIL'">
        </app-email-form>

        <input
            class="next-step-button mt-5"
            type="button"
            [ngClass] ="{'shake': clickError}"
            (click)="currentQuiz.type == 'EMAIL' ? emailSendButtonClick() : nextStepButtonClick()"
            value="{{currentQuiz.type == 'EMAIL' ? 'отправить email' : 'следующий шаг' }}"
        >
    </div>
</div>

