<div *ngIf="loading" class="loading">
    <img src="assets/gif/loading-squares.gif" class="loading-gif">
</div>

<div *ngIf="!loading && !isMobile">
    <div style="background-image: url({{currentQuiz.image}});" class="backgr"></div>
</div>

<div class="container">
    <div *ngIf="!quizPool">
        <h2 class="text-center nocopy mt-5 mb-5">Завершено!</h2>
        <img src="assets/gif/send-once.gif" class="send-gif">
    </div>

    <div *ngIf="quizPool && currentQuiz && !loading" class="row flex-column">



        <div class="bar-container">
            <app-progress-bar 
                [comleted]="completed"
                [length]="quizPool.length - 1">
            </app-progress-bar>
            <div 
                *ngIf="completed > 0"
                class="arrow-left"
                (click)="previousButtonClick()">
            </div>
        </div>

        <app-question-text 
            class="quiz-text"
            [quiz]="currentQuiz"
            *ngIf="currentQuiz.type == 'TEXT'">
        </app-question-text>
    
        <app-quiestion-number 
            class="quiz-number"
            [quiz]="currentQuiz"
            *ngIf="currentQuiz.type == 'NUMBER'">
        </app-quiestion-number>
    
        <app-email-form
            class="quiz-number"
            [form]="currentQuiz"
            (sendEmailEvent)="emailSendButtonClick($event)"
            *ngIf="currentQuiz.type == 'EMAIL'">
        </app-email-form>

        <input
            class="next-step-button mt-5"
            type="button"
            *ngIf="currentQuiz.type != 'EMAIL'"
            [ngClass] ="{'shake': clickError}"
            (click)="nextStepButtonClick()"
            value="следующий шаг"
        >
    </div>
</div>

