@gradient-border: 3px;

h2 {
    font-weight: 800;
    font-family: 'gilroybold';
}

.radio-group {    
    z-index: 10;
    position: relative;

    input[type="radio"] {
        z-index: 20;
        opacity: 0;
        position: fixed;
        width: 0;

        &:checked + label{
            // transform: scale(1.03);
            // box-shadow: inset 0 0 10px hsl(0, 0%, 60%);

                box-shadow:
                0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(153, 153, 153, 0.11);
                // 0 12.5px 10px rgba(0, 0, 0, 0.06),
                // 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                // 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                // 0 100px 80px rgba(0, 0, 0, 0.12)
              
        }
        
        &:checked + label::before {
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -1;
            margin: -@gradient-border; /* !importanté */
            border-radius: inherit; /* !importanté */
            background: rgb(23,230,109);
            background: linear-gradient(317deg, rgba(23,230,109,1) 0%, rgba(0,212,255,1) 100%);
        }
    }

    label{
        @padding: 20px;
        padding-left: @padding;
        padding-right: @padding;

        display: inline-block;
        background-color: #ddd;
        font-size: 22px;
        height: 90px;
        width: 100%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        position: relative;
        border: @gradient-border;

        background-clip: padding-box;
        border: solid @gradient-border transparent;
        border-radius: 1em;

        // &.grow {
        //     transition: transform .1s ease-in-out;
    
        //     &:hover {
        //         transform: scale(1.03);
        //     }
        // }
    }
}
