@font-face{
    font-family: gilroybold;
    src: url(assets/font/Gilroy-Bold.ttf) format("opentype");
}
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Comfortaa', bold;
    font-size: 30px;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // padding: 40px 0 40px 0;

    background-color: #ffffff;

    // background-color: #48dcfd;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%233edee0' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2334e0c3' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%232be2a7' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2321e48a' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2317e66d' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    // background-attachment: fixed;
    // background-size: cover;
}

.nocopy {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

